

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&family=Big+Shoulders+Text:wght@100..900&family=BioRhyme:wght@200..800&family=Caveat:wght@400..700&family=DM+Serif+Display:ital@0;1&family=Domine:wght@400..700&family=DynaPuff:wght@400..700&family=Jacquard+12&family=Kreon:wght@300..700&family=Noto+Serif+Khmer:wght@100..900&family=Pacifico&family=Phudu:wght@300..900&family=Poetsen+One&family=Signika+Negative:wght@300..700&family=Truculenta:opsz,wght@12..72,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');


@import "font-awesome-sprockets";
@import "font-awesome";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

header {
    /* position: fixed;
    top: 0;
    z-index: 2; */
}

nav {
    background-color: #bb1655;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    gap: 4em;
}
nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(240, 195, 70);
    font-size: 1.4rem;
    margin-top: 2em;
    padding-top: 1em;
}

nav a:hover {
    color: white;
    /* text-decoration: underline; */
    font-weight: 700;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.nav-secundario h3{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 26pt;
    color: #feefde;
    margin-top: 58px;
    margin-left: -62px;
}


body {
    background-color: #FB8B24;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

::-webkit-scrollbar {
    display: none;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    height: auto;
    justify-content: center;
    background-color: #070617;
  }
  .footer .col {
    width: 280px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 90px;
    justify-content: center;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    line-height: 35px;
    padding: 10px 0px 5px 0px;
    color: rgba(231, 44, 106, 0.685);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }

  .social ul {
    display: flex;
    gap: 10px;
    flex-direction: row !important;
    padding-right: 5px !important;
  }

  .social ul li {
    display: flex;
    flex-direction: row !important;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }


h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 110pt;
    color: #feefde;
    line-height: 0.2;
}
h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 98pt;
    color: #f1cf61;
    margin-top: -80px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(90, 83, 63);
    font-size: 2rem;
}

.parrafo-1{
    font-family: sans-serif; /*serif/monospace/cursive*/
    text-align: right;
}
#seccion-3 p {
    color: brown !important;
}



.lista-ingredientes {
    list-style-type:unset;
}


.section-style {
    background-image: url("../assets/img/band-top-v2.svg");
    background-repeat: no-repeat;
    /* display: flex;
    position: absolute;
    z-index: 0; */
}



.main-container {
    /* background-color: #FB8B24; */
    height: 820px; 
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-top: 3%;
    padding-left: 10%;
    justify-content: center;
    z-index: 0;
    /* background-image: url("../assets/img/band-top-v2.svg"); */
    }

.backgroung-image-top img {
        display: flex;
        position: relative;
        z-index: 0 !important;
        
    }


.main-heading {
        width: 550px;
        /* background-color: #FB8B24; */
        display: flex;
        gap: 0em;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        margin-top: 4vh;
        padding-top: 180px;
        margin-right: 30px;
    
    }

.title-1-intro h1 {
    position: relative;
}

.title-2-intro h2 {
    position: relative;
    margin-top: -500px;
}

.main-heading p {
    position: relative;
    margin-top: -140px;
}



.logo-img-intro img {
        /* width: 80vw; */
        padding-left: 20px;
        width: 650px;
          
}

.logo-img-nav{
 
    /* display: flex;
    position: relative;  */
}


.nav-secundario img {
    width: 180px;
    padding-top: 20px;
    margin-left: 60px;
    flex-shrink: 2;
    /* object-fit: fill; */
}


  /*---------------------------------------
  RECETARIO             
-----------------------------------------*/

#container-section-recetario {
    padding-top: 200px;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 50px;

}

.container-box-receta {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
}

.box-receta {
    display: flex;
    flex-direction: row;
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e7dede;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    padding: 30px;
    border-radius: 30px;
    height: min-content;
}

.receta-info {
    padding-top: 10px;
}

.receta-info p {
    padding-top: 15px;
    margin-bottom: 15px;
}

.services-image-wrap {
    width: 250px;
}

.services-image-wrap img {
    border-radius: 30px;
}

.description-receta {
    width: 200px;
}


.description-receta p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

.description-receta a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
  }

.services-image-wrap img {
   width: 250px;
  }

  
  .receta-title-link {
    display: block;
  }


  /*----efecto boton 

 Pendiente

    fin efect boton */
 
  
  .services-image,
  .team-image {
    border-radius: var(--border-radius-small);
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    transition: all 0.5s;
  }
  
  .services-image-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  
  .receta-icon-wrap {
    background: var(--secondary-color);
    color: var(--white-color);
    font-size: var(--h3-font-size);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: opacity 0.5s;
    padding: 8px 12px;
  }

  .receta-icon-wrap p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
  }

  .title-recetario {
    margin-bottom: 50px;
    margin-left: 50px;
    padding-top: 50px;
  }

  .title-recetario h2 {
    font-size: 3em;
  }


  /* ------ EVENTOS --------*/

  .container-section-evento {
    padding-top: 200px;
    width: 100%;
    min-height: 100vh;
    
    }

    .style-event {
        height: 680px;
    }


  .section-intro-evento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* position: relative; */
    /* margin-top: 80px; */
  }


  .section-video {  
    width: 40%;
  }

  .proximo-evento {
    width: 40%;
  }
  .proximo-evento h2 {
    font-size: 3em;
    margin-top: 0px !important;
  }
  .proximo-evento p {
    font-size: 16pt;
  }

  .wrap-calendario {
    margin-left: 60px;
  }

  .container-calendario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    width: 90%;
    padding-bottom: 60px;
    margin-left: 25px;
  }
  
  .container-calendario thead {
    background-color: violet;
  }

  .container-calendario table {
    background-color: white;
    width: 650px;
  }

  .container-calendario h2 {
    font-size: 3em;
  }

  .description-calendario {
    width: 40%;
  }

  .description-calendario p {
    font-size: 16pt;
  }

  /*----Seccion CONTACTO ---- */

.main-form-container {
    width: 80%;
    height: 800px;
    margin-top: 250px;
    margin-left: 90px;
}


 /*----Seccion CONTACTO ---- */
  
 .main-donde-comer {
    width: 80%;
    height: 800px;
    margin-top: 250px;
    margin-left: 90px;
}

.description-donde-comer {
    width: 66%;
    margin-bottom: 50px ;
}

.description-donde-comer h2{
    font-size: 3em;
}

.description-donde-comer p{
    font-size: 16pt;
}

.main-donde-comer h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(90, 83, 63);
    font-size: 2rem;
}

.main-donde-comer li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(90, 83, 63);
    font-size: 16pt;
}